@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navBar{
        @apply fixed bottom-0 border border-t-black py-4 flex justify-around w-screen z-50 bg-navigation
    }
    .navBar button img{
        width: 30px;
    }
    @keyframes scroll{
        0%{
            transform: translateX(0);
        }100%{
            transform: translateX(-430px);
        }
    }
    .summary-wrapper{
        padding: 4px;
        display: flex;
        animation: scroll 10s linear infinite;
    }
      .summary {
        display: flex;
        width: 430px;
      }

    .summary li {
        @apply flex items-center whitespace-nowrap ml-3
    }

    .summary li img {
        @apply mx-3
    }

    .buttons {
        @apply mt-3 mb-5
    }

    .buttons button {
        @apply px-3 py-1 border border-black mr-2 rounded-sm
    }

    .buttons button {
        box-shadow: 5px 5px 0px black;
    }

    .buttons button span {
        pointer-events: none;
    }

    .selected {
        background-color: black;
        color: white;
        box-shadow: 5px 5px 0px white;
    }

    .taskCard {
        box-shadow: 5px 5px 0px black;
    }

    .taskCard {
        @apply mt-4 h-[240px] rounded-lg bg-cover p-5 border border-2 border-black
    }

    .taskCard .text {
        text-shadow:-1px -1px #000
    }
    .taskCard img{
        @apply border rounded-full p-2 mr-3
    }
    .taskCard .details li span{
        text-shadow: -1px -1px 0 black,
                    1px 1px 0px black,
                    -1px 1px 0px black,
                    1px -1px 0px black;
                  

        @apply text-white text-[18px]
    }
    .taskCard .description{
        @apply font-semibold
    }
    .text-shadow-white{
        text-shadow: -1px -1px white;
    }
    /* Agrega más clases según tus necesidades */
    /* styles.css */
.transition-height {
  transition: height 0.5s ease-out;
}


}